body {
    /* overflow: hidden; */
    background-image: url(img/fon.jpg);
    background-size: 100%;
   }
   #card0  img{
     width: 100px;
   }
   #card1  img{
     width: 100px;
   }
   #card2  img{
     width: 100px;
   }
   #card3  img{
     width: 100px;
   }
   #card4  img{
     width: 100px;
   }
   #CardInFront{
     position: relative;
     right:  10px;
     top: 0;
     /* border: 2px solid red; */
   }
   #PLAYER_BOX{
     background-size: 100%;
     float: left;
     /* border: 15px solid darkorange; */
  	/* padding: 150px; */
  	 display: inline-block;
   }
   #PLAYER_BOX2{
     float: left;
    /* border: 15px solid darkorange; */
  	display: inline-block;
   }

   #rub{
     display: inline-block;
     margin-left: auto;
   	position: absolute;
    right: 250px;
    top: 10px;

   }
   #rub img{
     width: 100px;
   }
   .name_{
     position: absolute;
     right: 5px;
     top: 5px;
   }
   .n1{
     color: #F5302D;
     font-size: 22px;
     border: 4px solid black;
   }
   }
   #fight{
     position: absolute;
     display: inline-block;
     top: 240px;
     right: 5px;
   }
   #fight img{
     width: 150px;
   }

   .holder{
     display: inline-block;
      position:relative;
      }
    .block{
      position:relative;
      bottom: 200px;
      display:none;
      }
    .holder:hover .block{
      display:block;
      }

      #rub .holder{
        display: inline-block;
         position:relative;
         }
       #rub .block{
         position:relative;
         bottom: 160px;
         display:none;
         }
       #rub .holder:hover .block{
         display:block;
         }
    .delCard{
      border: 4px double #F5302D;
      display: inline-block;
      position: relative;
      bottom: 2px;
    }
    .scale {
      transition: 1s; /* Время эффекта */
     }
     .scale:hover {
      transform: scale(1.2); /* Увеличиваем масштаб */
     }
