body {
    background: url(img/фон\ для\ игры.jpg) no-repeat;
    background-size: 100%;
    margin: 0; 
    height: 100%; 
    overflow: hidden
   }
   #top {
    margin-right: 840px;
        color: yellow;
   }

   .avatar {
top: 70%;
left: 10%;
z-index: 50;
position: absolute;
/* width: 250px;
height:250px;
margin-top: -70px;
margin-left: -10px;*/
}
    .avatar2 {
vertical-align: middle;
width: 300px;
height:300px;
margin-top: 550px;
margin-left: 590px;
}
    .avatar3 {
vertical-align: middle;
width: 250px;
height:250px;
margin-top: -70px;
margin-left: 491px;

}

   #option {
    margin-right: 780px;
    height: 125px;
    width: 125px;
    background-color: snow;
   }