body {
    /* overflow: hidden; */
    background-image: url(public/img/фон.jpg);
    background-size: 100%;
   }
   .drag { 
   	position:relative; cursor:hand; z-index: 100; 
   }
   .d{
     display: inline-block;
   }
   #card0 .d img{
     width: 100px;
   }
   #card1 .d img{
     width: 100px;
   }
   #card2 .d img{
     width: 100px;
   }
   #CardInFront{
     position: absolute;
     right:  10px;
     top: 240px;
     /* border: 2px solid red; */
   }
   #PLAYER_BOX{
     background-size: 100%;
     float: left;
     /* border: 15px solid darkorange; */
  	/* padding: 150px; */
  	 display: inline-block;
   }
   #PLAYER_BOX2{
     float: left;
    /* border: 15px solid darkorange; */
  	display: inline-block;
   }

   #rub{
     margin-left: auto;
   	position: absolute;
    right: 550px;
    top: 80px;

   }
   #rub img{
     width: 100px;
   }
   .name_{
     position: absolute;
     right: 5px;
     top: 5px;
   }
   .n1{
     color: red;
     font-size: 22px;
     border: 4px solid black;
   }
   /* .table{
     position: absolute;
     right: 1%;
     top: 1%;
   	background-image: url(public/img/стол.jpg);
   	background-size: 100%;
   	border: 10px solid darkorange;
   	padding: 150px;
   	height: 80px;
   	width: 200px;
   	/* margin-left: 60%;
   	margin-top: -40%; */
   } */
   #stol{
     position:absolute;
     left:30px;
     bottom: 1%
   }
